<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="#" />

        <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <title>Introduction | Web Science - Assignment 4</title>
    </head>
    <body>
        <div class="wrapper">
            <h1 class="first-heading">Assignment 4</h1>

            <div class="container">
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li><a class="main-nav-link" href="index_schedule.html">SCHEDULE</a></li>
                        <li><a class="main-nav-link" href="#">ASSIGNMENTS</a></li>
                        <li><a class="main-nav-link" href="#">FORUM</a></li>
                        <li><a class="main-nav-link" href="#">HELP DESK</a></li>
                    </ul>
                </nav>

                <aside class="side-menu">
                    <h2 class="second-heading">Content</h2>

                    <ul class="side-menu-list">
                        <li><a class="side-menu-link" href="#webscience">What is web science</a></li>
                        <li><a class="side-menu-link" href="#groups">Research groups</a></li>
                        <li><a class="side-menu-link" href="#conferences">Major conferences</a></li>
                    </ul>
                </aside>
                <main class="main-content">
                    <h2 class="second-heading" id="webscience">Web Science</h2>

                    <h3 class="third-heading">What is web science</h3>
                    <p class="main-content-details">
                        Web science is an emerging interdisciplinary field concerned with the study of large-scale
                        socio-technical systems, particularly the World Wide Web. It considers the relationship between
                        people and technology, the ways that society and technology co-constitute one another and the
                        impact of this co-constitution on broader society. Web Science combines research from
                        disciplines as diverse as sociology, computer science, economics, and mathematics
                    </p>

                    <h3 class="third-heading" id="groups">Research groups</h3>
                    <p class="main-content-details">
                        There are numerous academic research groups engaged in Web Science research, many of which are
                        members of WSTNet, the Web Science Trust Network of research labs. Health Web Science emerged as
                        a sub-discipline of Web Science that studies the role of the Web's impact on human's health
                        outcomes and how to further utilize the Web to improve health outcomes.
                    </p>

                    <h3 class="third-heading" id="conferences">Related major conferences</h3>
                    <ul class="main-content-list">
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Association_for_Computing_Machinery"
                                >Association for Computing Machinery</a
                            >
                            (ACM), Hypertext Conference (HT) sponsored by SIGWEB
                        </li>

                        <li>
                            ACM SIGCHI
                            <a href="https://en.wikipedia.org/wiki/Conference_on_Human_Factors_in_Computing_Systems"
                                >Conference on Human Factors in Computing Systems</a
                            >
                            (CHI)
                        </li>

                        <li>
                            International
                            <a
                                href="https://en.wikipedia.org/wiki/Association_for_the_Advancement_of_Artificial_Intelligence"
                                >AAAI</a
                            >
                            Conference on Weblogs and Social Media (ICWSM)
                        </li>

                        <li>
                            <a href="https://en.wikipedia.org/wiki/International_World_Wide_Web_Conference"
                                >The Web Conference</a
                            >
                            (WWW)
                        </li>

                        <li>
                            <a href="https://en.wikipedia.org/wiki/Association_for_Computing_Machinery"
                                >Association for Computing Machinery</a
                            >
                            (ACM) Web Science Conference (WebSci)
                        </li>
                    </ul>
                </main>

                <footer class="footer">
                    <p>All the information provided is taken from Wikipedia.</p>

                    <form class="footer-form" action="/" method="post">
                        <label for="email">Enter email and sign up to newsletter</label>
                        <div>
                            <input type="text" name="email" id="email" />
                            <input type="submit" value="Sign Up" />
                        </div>
                    </form>
                </footer>
            </div>
        </div>
    </body>
</html>
